<h1>Cuarto: {{singleRoom.name}} </h1>

{{!-- <img src="{{singleRoom.imageUrl}}" --}}

<p>{{singleRoom.imageUrl}}</p>

<p>Descripción: {{singleRoom.description}}</p>


<a href="/rooms/{{singleRoom._id}}/edit">
	<button>Editar</button>
</a>

<a href="/rooms/{{singleRoom._id}}/delete">
	<button>Borrar</button>
</a>

